# ===============================
# Frontend
# ===============================
VITE_API_BASE_URL=http://localhost:8000
BASE_URL=http://localhost:5173

# ===============================
# Auth / JWT
# ===============================
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

# ===============================
# Database
# ===============================
MONGODB_URI=mongodb://localhost:27017

# ===============================
# AI / External Services
# ===============================
HUGGINGFACE_API_KEY=your_huggingface_api_key

PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX=stan-memory
PINECONE_REGION=us-east-1
DIMENSION=384
